body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #0d47a1, #001f54);
    height: 100vh;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    padding: 25px;
    backdrop-filter: blur(20px);
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
}

#addBtn {
    background: #00a6ff;
    width: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

#deleteAll {
    background-color: #ff3b3b;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}






#filterBtn {
    margin-bottom: 20px;
    background: #101820;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(20,20,20,0.2);
    border-radius: 15px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

th {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.8;
}

.status-badge {
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.pending { background: #ffbf00; color: black; }
.complete { background: #2ecc71; color: black; }

.btn {
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-right: 6px;
}

.completeBtn { background: #2ecc71; }
.deleteBtn { background: #ff3b3b; }

footer {
    text-align: center;
    margin-top: 20px;
    opacity: 0.9;
}